<!DOCTYPE html>
<html>
<head>
    <title>Notepad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Notes</h1>
        <a class="btn btn-primary" href="{% url 'note_new' %}">New Note</a>
        <ul class="list-group mt-3">
            {% for note in notes %}
                <li class="list-group-item">
                    <a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
